.content p, #content p, .HTML_Default p, .Text_Default p, .sys_txt p, .sys_txt a, .sys_layout p, .sys_txt, .sys_layout  {
    font-family: 'Dosis';
    
    font-size: 1.50rem;
    color: #9e9e9e;
    line-height: 1.4em;
    letter-spacing: 0px;
    text-transform: none;
}

/* Navigation */
.sys_navigation a, .ys_menu_2, div#menu ul, div#menu ul li a, ul.sys_navigation li a, div.sys_navigation ul li.selected a, div.sys_navigation ul li a, #navigation li a, div.ys_menu ul a:link, div.ys_menu ul a:visited, div.ys_nav ul li a, #sys_banner ul li a {
    font-family: 'IM Fell English SC';
    
    font-size: 1.08rem;
    color: #171717;
    text-decoration: none;
    letter-spacing: 0.1rem;
    line-height: 1.5em;
    text-transform: none;
}


/* Navigation:selected */
div.sys_navigation ul li.selected a, div#menu ul li.selected a, #navigation li.selected a, div.ys_menu ul li.selected a:link, div.ys_menu ul li.selected a:visited, div.ys_nav ul li.selected a, #sys_banner ul li.selected a {
    color: #4fc0e8;
}

/* Navigation:hover */
div.sys_navigation ul li a:hover, div#menu ul li a:hover, #navigation li a:hover, div.ys_menu ul a:hover, div.ys_nav ul li a:hover, div.ys_menu ul li a:hover, #sys_banner ul li a:hover {
    color: #4fc0e8;
}

/* Site Title */
#sys_heading, a#sys_heading, #sys_banner h1 a, #header h1 a, div#heading h1 a {
    font-family: 'IM Fell English SC';
    
    font-size: 3.72rem;
    color: #e339a5;
    text-decoration: none;
    letter-spacing: 0rem;
    line-height: 1.5em;
    text-transform: none;
}

/* Hyperlinks (a, a:hover, a:visited) */
a, .sys_txt a:link, .sys_layout a:link {color: #171717;}
a, .sys_txt a:link, .sys_layout a:link {text-decoration: underline;}
a:visited, .sys_txt a:visited, .sys_layout a:visited {color: #171717;}
a:hover, .sys_txt a:hover, .sys_layout a:hover {color: #4fc0e8;}
a:hover, .sys_txt a:hover, .sys_layout a:hover {text-decoration: underline;}

/* Headings (h2, h3, h4, h5, h6) */
.sys_layout h2, .sys_txt h2 {
    font-family: 'IM Fell English SC';
    
    font-size: 3.03rem;
    color: #948c8c;
    text-decoration: none;
    letter-spacing: 0.09rem;
    line-height: 1.25em;
    text-transform: none;
}

.sys_layout h2 a, .sys_layout h2 a:link, .sys_layout h2 a:hover, .sys_layout h2 a:visited {
    font-family: 'IM Fell English SC';
    
    font-size: 3.03rem;
    color: #948c8c;
    letter-spacing: 0.09rem;
    line-height: 1.25em;
    text-transform: none;
}

.sys_layout h3, .sys_txt h3 {
    font-family: 'IM Fell English SC';
    
    font-size: 2.3rem;
    color: #626262;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.25em;
    text-transform: none;
}

.sys_layout h3 a, .sys_layout h3 a:link, .sys_layout h3 a:hover, .sys_layout h3 a:visited {
    font-family: 'IM Fell English SC';
    
    font-size: 2.3rem;
    color: #626262;
    letter-spacing: 0px;
    line-height: 1.25em;
    text-transform: none;
}

.sys_layout h4, .sys_txt h4 {
    font-family: 'IM Fell English SC';
    
    font-size: 1.7rem;
    color: #646464;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
}

.sys_layout h4 a, .sys_layout h4 a:link, .sys_layout h4 a:hover, .sys_layout h4 a:visited {
    font-family: 'IM Fell English SC';
    
    font-size: 1.7rem;
    color: #646464;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
}

.sys_layout h5, .sys_txt h5 {
    font-family: 'IM Fell English SC';
    
    font-size: 1.2rem;
    color: #8c8c8c;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
}

.sys_layout h5 a, .sys_layout h5 a:link, .sys_layout h5 a:hover, .sys_layout h5 a:visited {
    font-family: 'IM Fell English SC';
    
    font-size: 1.2rem;
    color: #8c8c8c;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
}

.sys_layout h6, .sys_txt h6 {
    font-family: 'IM Fell English SC';
    
    font-size: 1rem;
    color: #828282;
    text-decoration: none;
    letter-spacing: 0rem;
    line-height: 1em;
    text-transform: inherit;
}

.sys_layout h6 a, .sys_layout h6 a:link, .sys_layout h6 a:hover, .sys_layout h6 a:visited {
    font-family: 'IM Fell English SC';
    
    font-size: 1rem;
    color: #828282;
    letter-spacing: 0rem;
    line-height: 1em;
    text-transform: inherit;
}

/*button widget*/
.sys_layout .sys_button a, .sys_layout .sys_button a:link, .sys_layout .sys_button a:visited {
    display:inline-block;
    text-decoration: none;
}
.sys_layout .sys_button a:link, .sys_layout .sys_button a:visited {
    cursor:pointer;
}
.sys_layout .sys_button a {
    cursor:default;
}

.sys_layout .sys_button.square a, .sys_layout .sys_button.square a:link {
    border-radius:0px;
}
.sys_layout .sys_button.rounded a, .sys_layout .sys_button.rounded a:link {
    border-radius:3px;
}
.sys_layout .sys_button.pill a, .sys_layout .sys_button.pill a:link {
    border-radius:90px;
}

/*button sizes*/
.sys_layout .sys_button.small a, .sys_layout .sys_button.small a:link, .sys_layout .sys_button.small a:visited {font-family: 'Dosis';font-size: 0.8rem;line-height: 1em;letter-spacing: 0.2rem;text-transform: uppercase;padding-top:1rem;padding-bottom:1rem;padding-left:2rem;padding-right:2rem;}
.sys_layout .sys_button.medium a, .sys_layout .sys_button.medium a:link, .sys_layout .sys_button.medium a:visited {font-family: 'Dosis';font-size: 1.0rem;line-height: 1.5em;letter-spacing: 0.1rem;text-transform: uppercase;padding-top:1rem;padding-bottom:1rem;padding-left:2rem;padding-right:2rem;}
.sys_layout .sys_button.large a, .sys_layout .sys_button.large a:link, .sys_layout .sys_button.large a:visited {font-family: 'Dosis';font-size: 1.2rem;line-height: 1.5em;letter-spacing: 0.1rem;text-transform: uppercase;padding-top:1rem;padding-bottom:1rem;padding-left:3.9rem;padding-right:3.9rem;}

/*button styles:small*/
.sys_layout .sys_button.small.outline a, .sys_layout .sys_button.small.outline a:link {
    border-color:rgba(245,126,86,1.00);
    color: rgba(245,126,86,1.00);
    border-style: solid;
    border-width: 2px;
}
.sys_layout .sys_button.small.outline a:visited {
    color: rgba(245,126,86,1.00);
}
.sys_layout .sys_button.small.solid a, .sys_layout .sys_button.small.solid a:link {
    background-color: #f57e56;

    color: #ffffff;
    border-color:rgba(245,126,86,1.00);
    border-style: solid;
    border-width: 2px;
}
.sys_layout .sys_button.small.solid a:visited {
    color: #ffffff;
}
.sys_layout .sys_button.small.outline a:hover {
    background-color: rgba(245,126,86,1.00);
    color: #ffffff;
    text-decoration: none;
}

/*button styles:medium*/
.sys_layout .sys_button.medium.outline a, .sys_layout .sys_button.medium.outline a:link {


    border-style: solid;
    border-width: 2px;
}
.sys_layout .sys_button.medium.outline a:visited {

}
.sys_layout .sys_button.medium.solid a, .sys_layout .sys_button.medium.solid a:link {

    color: #4baec2;
    
    border-style: solid;
    border-width: 2px;
}
.sys_layout .sys_button.medium.solid a:visited {
    color: #4baec2;
}
.sys_layout .sys_button.medium.outline a:hover {

    color: #4baec2;
    text-decoration: none;
}
/*button styles:large*/
.sys_layout .sys_button.large.outline a, .sys_layout .sys_button.large.outline a:link {
    border-color:rgba(245,126,86,1.00);
    color: rgba(245,126,86,1.00);
    border-style: solid;
    border-width: 2px;
}
.sys_layout .sys_button.large.outline a:visited {
    color: rgba(245,126,86,1.00);
}
.sys_layout .sys_button.large.solid a, .sys_layout .sys_button.large.solid a:link {
    background-color: #f57e56;

    color: #ffffff;
    border-color:rgba(245,126,86,1.00);
    border-style: solid;
    border-width: 2px;
}
.sys_layout .sys_button.large.solid a:visited {
    color: #ffffff;
}
.sys_layout .sys_button.large.outline a:hover {
    background-color: rgba(245,126,86,1.00);
    color: #ffffff;
    text-decoration: none;
}

.sys_layout .sys_button.solid a:hover {
    text-decoration: none;
    opacity: .8;
}  

@import url("//fonts.googleapis.com/css?family=Dosis%3Aregular%2C300|IM+Fell+English+SC%3Aregular&subset=latin,latin-ext");

    body {

        background-image: url(classes/commons/resources/images/backgrounds/diagonal_striped_brick.png?1001073);
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: top left;
        background-size: auto;
    }

    /* IOS devices 'bgd-att: fixed' solution */
    @media only screen and (max-device-width: 1366px) {
        .bgd-attachment-fixed {
            background-image: none;
        }
        .bgd-attachment-fixed:after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: url(classes/commons/resources/images/backgrounds/diagonal_striped_brick.png?1001073);
            background-repeat: repeat;
            background-position: top left;
            background-size: auto;
            z-index: -2;
        }
    }

    .Text_2_Default,
    .yola_heading_container {
      word-wrap: break-word;
  }

  .yola_bg_overlay {
    display:table;
    table-layout: fixed;
    position:absolute;
    min-height: 100%;
    min-width: 100%;
    width:100%;
    height:100%;
}
.yola_outer_content_wrapper {

    padding-right: 0px;
    
    padding-left: 0px;
}
.yola_inner_bg_overlay {
    width:100%;
    min-height: 100vh;
    display: table-cell;
    
    vertical-align: top;
}
.yola_outer_heading_wrap {
    width:100%;
    text-align: center;
}
.yola_heading_container {
    margin: 0 auto;
    
    background-color: #ffffff;

}
.yola_inner_heading_wrap {
    margin: 0 auto;
    max-width: 1280px;
}
.yola_innermost_heading_wrap {
    padding-left:0;
    padding-right:0;
    margin: 0 auto;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}
.yola_inner_heading_wrap.top nav,
.yola_inner_heading_wrap.top div#yola_heading_block,
.yola_inner_heading_wrap.bottom nav,
.yola_inner_heading_wrap.bottom div#yola_heading_block {
    padding-left: 3rem;
    padding-right: 3rem;
}
.yola_inner_heading_wrap.left .yola_innermost_heading_wrap,
.yola_inner_heading_wrap.right .yola_innermost_heading_wrap {
    padding-left: 3rem;
    padding-right: 3rem;
}
.yola_inner_heading_wrap h1 {
    margin: 0;
}
#yola_nav_block {
    height: 100%;
}
#yola_nav_block nav {
    text-align: center;
    
}
#yola_nav_block nav ul{
    display:inline;
}
.yola_inner_heading_wrap.left #yola_heading_block {
    float:left;
}
.yola_inner_heading_wrap.right #yola_heading_block {
    float:right;
}
.yola_inner_heading_wrap.top #yola_nav_block {
    padding:1rem 0 0 0;
}
.yola_inner_heading_wrap.right #yola_nav_block {
    float:left;
    padding:1rem 0 0 0;
}
.yola_inner_heading_wrap.bottom #yola_nav_block {
    padding:0 0 1rem 0;
}
.yola_inner_heading_wrap.left #yola_nav_block {
    float:right;
    padding:1rem 0 0 0;
}
.yola_banner_wrap {
    background-attachment: scroll;
    text-align: center;
    margin: 0 auto;
    
    display: block;
    background-position: top left;
    background-size: auto;
    background-repeat: repeat-x;
    background-image: url(templates/Skyline_v2/resources/images/banner_frame.png);
    
}
.yola_inner_banner_wrap {
    padding-left:0;
    padding-right:0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}
.yola_innermost_banner_wrap {
    margin: 0 auto;
    
}
.yola_inner_nav_wrap {
    margin: 0 auto;
    
}
.yola_banner_wrap nav ul.sys_navigation {
    text-align: center;
    padding-top:1rem;
    padding-bottom:1rem;
}
.yola_banner_wrap h1 {
    margin:0;
    text-align: center;
}
.yola_site_tagline {
    padding-top:0;
    padding-bottom:0;
    font-family: 'IM Fell English SC';
    font-size: 4rem;
    
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
    text-align: left;
    padding-right: 3rem;
    padding-left: 3rem;

}
.yola_site_tagline span {
    display: inline-block;
    
    
    
    
    
}
ul.sys_navigation {
    margin: 0;
    padding: 0;
    text-align: center;
}
ul.sys_navigation li {
    display: inline;
    list-style: none;
    margin:0 1.5rem 0 0;
}
.yola_inner_heading_wrap ul.sys_navigation li:last-child {
    margin:0;
}
ul.sys_navigation li a{
    text-decoration: none;
}

div.ys_submenu {
    margin-top: 8px;
}

.yola_content_wrap {
    margin:0 auto;
    
    background-color: #ffffff;

}
.yola_content_column {
    margin:0 auto;
    
}

.yola_inner_content_column {
    margin:0 auto;

    
    
    
    
}
.yola_inner_footer_wrap {
    padding: 0 20px;
}
div[id*='sys_region_'] {
    padding-left: 0 ! important;
    padding-right: 0 ! important;
}
.yola_site_logo {

    max-width:100%;
}
#sys_heading.yola_hide_logo img {
    display:none;
}
#sys_heading.yola_hide_logo span {
    display:inline;
}
a#sys_heading.yola_show_logo {
    font-size:14px;
}
#sys_heading.yola_show_logo img {
    display:inline;
}
#sys_heading.yola_show_logo span {
    display:none;
}
.yola_footer_wrap {
    margin:0 auto;
    
    
}
.yola_footer_column {
    margin:0 auto;
    
    display: block;
}
footer {
    padding-top: 2.5rem;
    padding-right: 3rem;
    padding-bottom: 2.5rem;
    padding-left: 3rem;
    font-family: 'Dosis';
    font-size: 1rem;
    color: #cccccc;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-transform: none;

}
span.yola_footer_socialbuttons {
    display:inline-block;
    line-height:0;
    margin:0;
    padding:0;
    display:inline-block;
    position:static;
    float:left;
    width:146px;
    height:20px;
    display: block;
}
.sys_yola_form .submit,
.sys_yola_form input.text,
.sys_yola_form input.email,
.sys_yola_form input.tel,
.sys_yola_form input.url,
.sys_yola_form textarea {
    font-family: 'Dosis';
    font-size: 1.50rem;
    line-height: 1.4em;
    letter-spacing: 0px;
    text-transform: none;
}
div.sys_yola_form {
    padding:0 !important;
}
div.sys_yola_form form {
    margin:0 !important;
    padding:0 !important;
}
.sys_layout h2, .sys_txt h2, .sys_layout h3, .sys_txt h3, .sys_layout h4, .sys_txt h4, .sys_layout h5, .sys_txt h5, .sys_layout h6, .sys_txt h6, .sys_layout p, .sys_txt p {
    margin-top:0;
}
div[id*='sys_region_'] {
    padding:0 !important;
}
.sys_layout blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #9e9e9e;;
  font-size: 1rem;
  font-style: italic;
  
  
  line-height: 1.5em;
  letter-spacing: 0px;
  text-transform: none;
}
.sys_layout blockquote,
.sys_layout blockquote h1,
.sys_layout blockquote h2,
.sys_layout blockquote h3,
.sys_layout blockquote h4,
.sys_layout blockquote h5,
.sys_layout blockquote h6,
.sys_layout blockquote p {
    font-family: 'Dosis';
}
.sys_layout p,.sys_layout pre {margin:0 0 1.5em 0}
.sys_layout h2,.sys_layout h3,.sys_layout h4,.sys_layout h5,.sys_layout h6 { margin:0 0 0.5em 0 }
.sys_layout dl, .sys_layout menu,.sys_layout ol,.sys_layout ul{margin:0 0 1.5em 0}

.mob_menu {
    display: none;
}

.new-text-widget img, .old_text_widget img {
    max-width: 100%;
}


@media only screen and (max-width : 736px) {
    html {
        font-size: 80%;
    }

    body .m_inherit_width {
        width: inherit;
    }

    .small_device_hide {
        opacity: 0;
    }

    /* Remove display table so that fixefox can understand max-width */
    .yola_bg_overlay, .yola_inner_bg_overlay {
     display: block;
 }

 /* Zero out padding of the heading wrapper */
 .yola_inner_heading_wrap.top .yola_innermost_heading_wrap,
 .yola_inner_heading_wrap.bottom .yola_innermost_heading_wrap,
 .yola_inner_heading_wrap.left .yola_innermost_heading_wrap,
 .yola_inner_heading_wrap.right .yola_innermost_heading_wrap {
    padding-left: 0;
    padding-right: 0;
}

/* Make all image widgets center aligned */
.Image_Default img {
    display: block;
    margin: 0 auto;
}

/* Center button widgets in column dividers */
.column_divider .sys_button {
    text-align: center;
}

/* Make column dividers snap to one over another */
.yola_inner_heading_wrap.left #yola_heading_block, .yola_inner_heading_wrap.right #yola_heading_block {
    float: none;
}

#sys_heading {
    word-wrap: break-word;
    word-break: break-word;
}

body .column_divider .left, body .column_divider .right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.mob_menu a:visited {
    color: #fff;
}

.mob_menu {
    display: block;
    z-index: 1;
    ;
    background: rgba(255,255,255,1.00);;
    ;
}

.mob_menu.menu_open {
    position: absolute;
    min-height: 100%;
    padding: 1rem 0 0 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

.yola_outer_content_wrapper {
    display: block;
    padding-top: 0;
}

.mob_menu_overlay {
    display: none;
    text-transform: none;
}

.menu_open .mob_menu_overlay  {
    display: block;
}

.mob_menu_toggle {
    display: block;
    padding-top: 5%;
    padding-bottom: 6%;
    text-align: center;
    color: #666;
    cursor: pointer;
}
.mob_submenu_toggle {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.new-text-widget img, .old_text_widget img {
    height: auto;
}

#sys_heading span {
    font-size: 35px;
    font-weight: 500;
}
.sys_navigation {
    display: none;
}

.mobile_ham {
    stroke: #171717;
}

.mobile_quit {
    display: none;
}

.menu_open .mobile_ham {
    display: none;
}

.menu_open .mobile_quit {
    display: inline;
    stroke: #171717;
}

.mob_menu_list {
    font-family: 'IM Fell English SC';
    font-weight: lighter;
    margin: 0;
    font-size: 2.2em;
    line-height: 2;
    letter-spacing: 0.1em;
    list-style: none;
    text-align: center;
    padding: 0;
    -webkit-animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    -moz-animation-duration: .2s;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadeInUp;
    -o-animation-duration: .2s;
    -o-animation-fill-mode: both;
    -o-animation-name: fadeInUp;
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.mob_menu_overlay .mob_menu_list a {
    color: #171717;
}

.mob_more_toggle {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    margin-left: 8px;
    stroke: #171717;
}

.up_arrow {
    display: none;
}

.sub_menu_open svg .down_arrow {
    display: none;
}

.sub_menu_open .up_arrow {
    display: inline;
}

.mob_menu_overlay .mob_menu_list .selected a {
    color: #4fc0e8;
}

.sub_menu_open a {
    color: #4fc0e8;
}

.mob_menu_list .sub_menu_open a {
    color: #4fc0e8;
}

.sub_menu_open .mob_more_toggle {
    stroke: #4fc0e8;
}

.mob_submenu_list {
    font-family: 'IM Fell English SC';
    font-weight: lighter;
    list-style: none;
    text-align: center;
    padding: 0 0 5% 0;
    margin: 0;
    line-height: 1.6;
    display: none;
    -webkit-animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    -moz-animation-duration: .2s;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadeInUp;
    -o-animation-duration: .2s;
    -o-animation-fill-mode: both;
    -o-animation-name: fadeInUp;
    animation-duration: .2s;
    animation-fill-mode: both
    animation-name: fadeInUp;
}

.sub_menu_open .mob_submenu_list{
    display: block;
}

.mob_submenu_items {
    font-size: 0.75em;
}
.mob_menu_list .mob_nav_selected {
    color: #4fc0e8;
}

.menu_open ~ .yola_outer_content_wrapper {
    display: none;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
}
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    -o-transform: none;
    transform: none;
}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    transform: none;
}

.layout_1-column {
	width: 100%;
        padding: 0;
        margin: 0;
}

.layout_1-column:after {
         content: "";
         display: table;
         clear: both;
}

.zone_top {
          margin: 0;
          padding: 5px;
          vertical-align: top;
          line-height: normal;
          min-width: 100px;
}

div#Panel_Ifda8bed4eed0484992696348d97318f7 {
           max-width: 100%;
           margin: 0 auto;
}

#yola-panel-Ifda8bed4eed0484992696348d97318f7 {
           min-height: 0vh;
}

#yola-panel-inner-Ifda8bed4eed0484992696348d97318f7 {

}
#Icff78d7338e547439340d5ff9488eb35_img{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;box-sizing: borderbox;
	width:34px;
	border:none;max-width: 100%;
	height: auto;
}
.column_If82df03acad04cb9b21ab62a6a2b90e5 {
	width: 100%;-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;box-sizing:border-box;
}
.column_If82df03acad04cb9b21ab62a6a2b90e5:after {
content: "";display: table;
clear: both;
}
.column_If82df03acad04cb9b21ab62a6a2b90e5 .left {
text-align: left;vertical-align: top;
width: 50%;
padding: 0 0 0 0;float: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing:border-box;
}
.column_If82df03acad04cb9b21ab62a6a2b90e5 .right {
vertical-align: top;
width: 50%;padding: 0 0 0 0;float: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
div.sys_text_widget img.float-left{float:left;margin:10px 15px 10px 0;}
div.sys_text_widget img.float-right{position:relative;margin:10px 0 10px 15px;}
div.sys_text_widget img{margin:4px;}
div.sys_text_widget {
                                                                overflow: hidden;
                                                                margin: 0;
                                                                padding: 0;
                                                                color: ;
                                                                font: ;
                                                                background-color: ;
}
div#Panel_I75923185858449b0a684ebed44a81e61 {
                                max-width: 100%;
                                margin: 0 auto;
                            }

                            #yola-panel-I75923185858449b0a684ebed44a81e61 {
                                min-height: 0vh;position:relative;
                            }

                            #yola-panel-inner-I75923185858449b0a684ebed44a81e61 {
                                position:relative;
                            }

                            #yola-panel-background-I75923185858449b0a684ebed44a81e61 {
                                background:rgba(255,153,221,0.70);background-position:top left;background-repeat:no-repeat;position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;pointer-events:none;touch-action:none;
                            }
div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc p,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt,
                            .content div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc p,
                            #content div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc p,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .HTML_Default p,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .Text_Default p,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt p,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt p a,
                            div#content div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc p{
                                color:#fff;
                            }

                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc h1,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc h2,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc h3,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc h4,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc h5,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc h6,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt h1,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt h2,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt h3,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt h4,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt h5,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt h6{
                                color:#eee;
                            }

                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc a,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt a{
                                color:#7fb9ed;
                            }

                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc a:hover,
                            div#yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc .sys_txt a:hover{
                                color:#7fb9ed;
                            }

                            div#Panel_Ibe09d5b9d6854976982cefbd4d812abc {
                                max-width: 100%;
                                margin: 0 auto;
                            }

                            #yola-panel-Ibe09d5b9d6854976982cefbd4d812abc {
                                -webkit-box-shadow:0 1px 2px rgba(0, 0, 0,.5);-moz-box-shadow:0 1px 2px rgba(0, 0, 0,.5);box-shadow:0 1px 2px rgba(0, 0, 0,.5);min-height: 0vh;position:relative;
                            }

                            #yola-panel-inner-Ibe09d5b9d6854976982cefbd4d812abc {
                                position:relative;
				background:#000000;
                            }

                            #yola-panel-background-Ibe09d5b9d6854976982cefbd4d812abc {
                                background:#000000;background-position:top left;background-repeat:no-repeat;position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;pointer-events:none;touch-action:none;
                            }
#I568b8e37e1df44058d2b786d60a881f9{
display:block;clear: both;margin:0 0 0 0;
background:#000000;
}
.column_I316d25de4a104800871b88dac8fa0f07 {width: 100%;-moz-box-sizing:border-box;-webkit-box-sizing: border-box;box-sizing:border-box;}.column_I316d25de4a104800871b88dac8fa0f07:after {content: "";display: table;clear: both;}.column_I316d25de4a104800871b88dac8fa0f07 .left {text-align: left;vertical-align: top;width: 51.58850226928896%;padding: 0 0 0 0;float: left;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing:border-box;}.column_I316d25de4a104800871b88dac8fa0f07 .right {vertical-align: top;width: 48.41149773071104%;padding: 0 0 0 0;float: left;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
